<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mùa Đông Không Lạnh</title>
  </head>
  <body>
    <h1>Mùa Đông Không lạnh</h1>

    <iframe width="854" height="480" src="https://www.youtube.com/embed/Sagg08DrO5U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
    <b>Bạn là nam: </b><a href="{{ url_for('search', gender=0) }}">click vào em đi</a>
    <br>
    <b>Bạn là Nữ: </b><a href="{{ url_for('search', gender=1) }}">click vào anh đi</a>
    <br>
    <button><a href="{{url_for('customer')}}"> <p>danh sách khách hàng <p></a></button>
    <button><a href="{{url_for('get_customer')}}"> <p>khách hàng chưa liên lạc</p> </a></button>
  </body>
</html>
