<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mùa Đông Không Lạnh</title>
  </head>
  <body>
    <h1>Mùa Đông Không lạnh</h1>
    <b>Bạn là nam: </b><a href="{{ url_for('search', gender=0) }}">click vào em đi</a>
    <br>
    <b>Bạn là Nữ: </b><a href="{{ url_for('search', gender=1) }}">click vào anh đi</a>
    <br>
    <a href="{{url_for('customer')}}"> <p>danh sách khách hàng <p></a>
    <a href="{{url_for('get_customer')}}"> <p>khách hàng tiềm năng</p> </a>
  </body>
</html>
