<div class="container mtb-100px">
  <h3 class="text-center"> Chào mừng các bạn đến với Mùa Đông Không Lạnh </h3>
  <p class="text-center"> "Chúng tôi ở đây là để giúp bạn có mối quan hệ tốt đẹp với gia đình người thân trong
  khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn" </p>
  <div class="h-150px container d-flex justify-content-between">
    <div class="bg-img-female h-150 w-30 d-flex justify-content-end align-items-center container"> <a href="{{url_for('search', gender=1)}}" class="btn btn-success text-light font-weight-bold">Bạn là Nam</a> </div>
    <div class="bg-img-male h-150 w-30 d-flex justify-content-start align-items-center container"> <a href="{{url_for('search', gender=0)}}" class="btn btn-dark text-light font-weight-bold">Bạn là Nữ</a> </div>
  </div>
</div>
