<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand font-lobster" href="{{url_for('index')}}">Mùa đông không lạnh</a>

<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
<ul class="navbar-nav">
  {% if 'logged_user' in session %}
  <li class="nav-item ">
    <a class="nav-link text-light" href="{{url_for('logout')}}"> Đăng xuất <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-light" href="{{url_for('show_user_order', user_id=session['logged_user'])}}"> Trang cá nhân <span class="sr-only">(current)</span></a>
  </li>
  {%else%}
  <li class="nav-item ">
    <a class="nav-link text-light" href="{{url_for('log_in')}}">Đăng nhập <span class="sr-only">(current)</span></a>
  </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Về chúng tôi</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Blog</a>
  </li>
</ul>
</div>
</nav>
