<div class="container mb-5">
  <h2 class="pb-5 pt-5 text-center">Các gói dịch vụ</h2>

  <div class="card-deck justify-content-between">
    <div class="card border-dark mb-3" style="max-width: 18rem;">
      <div class="card-header bg-light text-muted font-weight-bold">Gói cơ bản</div>
      <div class="card-body text-dark">
        <p class="text-dark font-weight-bold">Dẫn bạn về ra mắt</p>
        <p class="text-dark font-weight-bold">Ăn cơm cùng gia đình</p>
        <p class="text-muted">Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào</p>
        <p class="text-muted">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <small class="btn btn-dark text-white"> <i class="fas fa-heart"></i> tìm hiểu thêm </small>
      </div>
    </div>
    <div class="card border-dark mb-3" style="max-width: 18rem;">
      <div class="card-header bg-secondary text-light font-weight-bold">Gói tiêu chuẩn</div>
      <div class="card-body text-dark">
        <p class="text-dark font-weight-bold">Dẫn bạn về ra mắt</p>
        <p class="text-dark font-weight-bold">Ăn cơm cùng gia đình</p>
        <p class="text-dark font-weight-bold">Cho nắm tay thể hiện quan tâm</p>
        <p class="text-muted">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <small class="btn btn-dark text-white"> <i class="fas fa-heart"></i> tìm hiểu thêm </small>
      </div>
    </div>
    <div class="card border-dark mb-3" style="max-width: 18rem;">
      <div class="card-header bg-dark text-light font-weight-bold">Gói cao cấp</div>
      <div class="card-body text-dark">
        <p class="text-dark font-weight-bold">Dẫn bạn về ra mắt</p>
        <p class="text-dark font-weight-bold">Ăn cơm cùng gia đình</p>
        <p class="text-dark font-weight-bold">Cho nắm tay thể hiện quan tâm</p>
        <p class="text-dark font-weight-bold">Bạn sẽ phụ giúp gia đinh các công việc nấu nướng dọn dẹp</p>
        <p class="text-info font-weight-bold">Và nhiều ưu đãi bất ngờ khác</p>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <small class="btn btn-dark text-white"> <i class="fas fa-heart"></i> tìm hiểu thêm </small>
      </div>
    </div>
</div>
</div>
