<div class="h-650px bg-img-night">
  <h2 class="pt-5 pb-5 text-center text-white">Khách hàng bình chọn</h2>
  <div class="container d-flex justify-content-between flex-md-wrap">
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/pepe.gif" class="img-fit"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/pepe2.jpg" class="img-fit"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/pepe3.png" class="img-fit"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/pepe4.jpg" class="img-fit"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/obama.jpeg" class="img-fit"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/osama.jpg" class="img-fit"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/mark.jpg" class="img-fit"> </div>
    <div class="h-200px w-200px p-1 m-3"> <img src="../../static/image/cccp.png" class="img-fit"> </div>
  </div>
</div>
