<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forgot password</title>
  </head>
  <body>
    <h1> Vui lòng nhập tên đăng nhập và địa chỉ email </h1>
    <form method="post">
      <label> tên đăng nhập </label>
      <input type="text" name="user_username" value="">
      <br>
      <label> địa chỉ email </label>
      <input type="email" name="user_email" value="">
      <br>
      <label> Mời bạn nhập mật khẩu mới </label>
      <input type="password" name="user_password" value="">
      <br>
      <input type="submit">
    </form>
  </body>
</html>
