<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mùa Đông Không Lạnh</title>
    {% include "meta-data.html" %}
    <link rel="stylesheet" href="../static/css/homepage.css">
  </head>
  <body>
    {% include "homepage/navigation.html" %}
    {% include "homepage/carousel.html" %}
    {% include "homepage/mission.html" %}
    {% include "homepage/rated.html" %}
    {% include "homepage/package.html" %}

    <footer class="h-50px w-100 bg-dark pt-2"> <h5 class="text-center text-light container">Được thực hiện bởi techkids</h5> </footer>
  </body>
</html>
