<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mùa đông không lanh</title>
  </head>
  <body>
    <h1>Thêm nhân viên mới</h1>
    <h3> <a href="{{url_for('index')}}">Home Page</a> </h3>
    <form method="POST">
      <label>Image</label>
      <input type="text" name="image" value="">
      <br>
      <label>Name</label>
      <input type="text" name="name" value="">
      <br>
      <label>Gender</label>
      <br>
      <input type="radio" name="gender" value="0">Male
      <input type="radio" name="gender" value="1">Female
      <br>
      <label>Yob</label>
      <input type="number" name="yob" value="">
      <br>
      <label>Phone</label>
      <input type="text" name="phone" value="">
      <br>
      <label>Address</label>
      <input type="text" name="address" value="">
      <br>
      <label>Height</label>
      <input type="number" name="height" value="">
      <br>
      <label>Measurements</label>
      <input type="number" name="measurements1" value="">
      <input type="number" name="measurements2" value="">
      <input type="number" name="measurements3" value="">
      <br>
      <label>Description</label>
      <input type="text" name="description" value="">
      <br>
      <label> Status </label>
      <input type="radio" name="status" value="True">Rảnh
      <input type="radio" name="status" value="False">Bận
      <br>
      <input type="submit">
    </form>
  </body>
</html>
